<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd  
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd  
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    
    <!-- Mapping para CSS -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
    
    <!-- Paquete donde estaran nuestros controllers -->
    <context:component-scan base-package="com.arana.diego.controller" />
    
    <!-- Propiedades DB -->
    <context:property-placeholder location="classpath:database.properties" />
    
    <mvc:annotation-driven />

    <!--
   	 Fuente de datos - Los valores se obtendran del archivo declarado arriba.
   	 No es obligatorio el uso de un archivo separado.
    -->
    <bean id="dataSource"
   	 class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   	 <property name="driverClassName" value="com.mysql.jdbc.Driver" />
   	 <property name="url" value="jdbc:mysql://localhost:3306/db_api_cart" />
   	 <property name="username" value="dbcart" />
   	 <property name="password" value="dbcart" />
    </bean>

    <!-- En vez de establecer una clase aparte, la definimos como un bean -->
    <bean id="sessionFactory"
   	 class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
   	 <property name="dataSource" ref="dataSource" />
   	 <property name="annotatedClasses">
   		 <list>
   			 <!-- Aca pondremos las clases que mapeemos -->
   			 
   			 <value>com.arana.diego.model.Product</value>
   			 <value>com.arana.diego.model.User</value>
   			 <value>com.arana.diego.model.Cart</value>
   			 <value>com.arana.diego.model.SpecialDateCart</value>
   			 <value>com.arana.diego.model.VipCart</value>
   			 <value>com.arana.diego.model.SimpleCart</value>
   			 <value>com.arana.diego.model.CartProduct</value>
   			 
   		 </list>
   	 </property>
   	 <property name="hibernateProperties">
   		 <props>
   			 <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
   			 <prop key="hibernate.show_sql">true</prop>
   		 </props>
   	 </property>
    </bean>

    <bean id="txManager"
   	 class="org.springframework.orm.hibernate4.HibernateTransactionManager">
   	 <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
   	 class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!--
   	 Resuelve los archivos que se van a usar para las vistas, en este caso todo lo que posea
   	 Extension 'jsp'.
     -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/view/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

    <!-- DAOs -->
    <bean id="userDAO" class="com.arana.diego.data.UserDAO" />
    <bean id="userService" class="com.arana.diego.service.UserService" />
    
    <bean id="cartDAO" class="com.arana.diego.data.CartDAO" />
    <bean id="cartService" class="com.arana.diego.service.CartService" />
    
<!--     <bean id="productDAO" class="com.arana.diego.data.ProductDAO" /> -->
<!--     <bean id="productService" class="com.arana.diego.service.ProductService" /> -->
    
    
    
    
</beans> 
